@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    background: #000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,14,1,1) 100%);
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo,
footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width:  40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a, .email .block button {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover,
.email .block button:hover {
    background: #a02604;
}

.hero {
    padding-bottom:  100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #E87D0E;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn,
.hero-about .info .btn{
    background: #FA8305;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}

.hero--info .btn:hover,
.hero-about .info .btn:hover,
.read-more .info button:hover,
.read-more2 .info button:hover,
.read-more3 .info button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: -150px;
    right: 0;
}

.trending {
    padding-top: 50px;
}

.trending h3 {
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all, .projects .see-all {
    color: #fff;
    background: #25211D;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}


.trending .see-all:hover, .projects .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games span img {
    position: relative;
    top: 5px;
    margin-right: 7px;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

.banner {
    padding: 80px 0;
}

.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

.banner img {
    width: 100%;
    margin-bottom: 30px;
}

.features {
    background: url("/img/BG.png") no-repeat center center fixed;
    background-size: cover;
    padding: 80px;
}

.features h3,
.features p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block img {
    margin-bottom: 15px;
}

.projects {
    padding: 100px 0;
}

.projects h3 {
    font-size: 30px;
    text-align: center;
}

.projects p {
    margin: 40px 0;
    text-align: center;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.projects .see-all {
    float: none;
    width: 60px;
    text-align: center;
    margin: 0 auto;
}

/* Ввод эмаил */
.email {
    padding-bottom: 120px;
}
.email h3 {
    margin-top: 60px;
    font-size: 30px;
}

.email .block {
    background: #1C140F;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}
.email .block p {
    width: 500px;
}

.email .block input {
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;
    right: -100px;
    z-index: 1;
    padding-right: 120px;
}

.email .block input::placeholder {
    color: #898989;
}

.email .block button {
    cursor: pointer;
    border: 0;
    padding: 13px 17px;
    position: relative;
    z-index: 2;
    color: #ffff;
}

/* Страница про нас */
.hero-about {
    position: relative;
}

.hero-about .info {
    width: 500px;
    padding: 250px 0;
}

.orange {
    color: #E87D0E;
}

.tab {
    margin-left: 20px;
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .info .btn {
    margin-top: 20px;
}

.hero-about img {
    position: absolute;
    right: -100px;
    top: 0;
}

.work {
    padding: 80px 0;
}

.work h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

.work .blocks {
    display: flex;
    justify-content: space-between;
}

.work .blocks .block {
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: #1C140F;
}

.work .blocks .block h3 {
    font-size: 20px;
    margin: 20px 0;
}

.work .blocks .block .badge {
    border-radius: 7px;
    padding: 10px 20px;
}

.work .blocks .block .badge.purple {
    background: #560F67;
}

.work .blocks .block .badge.brown {
    background: #31190D;
}

.work .blocks .block .badge.green {
    background: #192A1D;
}

/* Контакты и прочее */
footer {
    background: #000;
    padding-top: 50px;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;

}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer > p {
    text-align: center;
}

footer .blocks .contact {
    position: relative;
    right: -50px;
}

footer .blocks .contact1 {
    position: relative;
    right: -50px;
}

footer .blocks a img {
    margin-top: 80px;
    padding: -5px;
}

/* Preview */
.preview {
    background: #1C140F;
    width: 100%;
    height: 600;
}

.preview .preview-text {
    position: relative;
    float: right;
    padding: 100px;
    left: -200px;
    width: 536px;
}

.preview .preview-text h4 {
    font-size: 16px;
    margin-bottom: 20px;
}

.preview .preview-text h1 {
    margin-bottom: 20px;
    font-size: 28px;
}

.preview img {
    padding: 100px;
    margin-bottom: -107px;
}

/* Работники */
.team {
    width: 1264px;
    height: 331px;
    padding: 100px;
}

.team h1 {
    font-size: 25px;
    width: 139px;
    height: 45px;
    margin-bottom: 20px;
}

.team .blocks {
    display: flex;
    justify-content: space-between;
}

.team .blocks .block {
    width: 295px;
    height: 233px;
    border-radius: 20px;
    background: #1C140F;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.team .blocks .block img {
    max-width: 100%; 
    max-height: 150px; 
    object-fit: cover;
    margin-bottom: 10px;
}

.team .blocks .block h2 {
    font-size: 19px;
    margin-bottom: 5px;
}

.team .blocks .block p {
    font-size: 16px;
}

/* Портфолио */
.portfolio .info {
    margin-bottom: 100px;
    text-align: center;
}

.portfolio .info h1 {
    margin-top: 30px;
    font-size: 33px;
}

.portfolio .info p {
    font-size: 16px;
}

.portfolio .blocks {
    position: relative;
    background: #1C140F;
    max-width: 1140px; 
    height: 200px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    border-radius: 10px; 
    padding: 0 95px;
    text-align: center;
}

.portfolio .blocks .block1,
.portfolio .blocks .block2,
.portfolio .blocks .block3 {
    text-align: left; 
}

.portfolio .blocks .block1 h2,
.portfolio .blocks .block2 h2,
.portfolio .blocks .block3 h2 {
    font-size: 25px;
    margin-bottom: 10px;
    position: relative;
    left: 46px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.portfolio .blocks .block1 p,
.portfolio .blocks .block2 p,
.portfolio .blocks .block3 p {
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    padding-top: 75px;
    padding-bottom: 50px;
}

.portfolio .blocks .block1 img,
.portfolio .blocks .block2 img,
.portfolio .blocks .block3 img {
    width: 55px;
    height: 55px;
    padding-top: 30px;
}

.portfolio .blocks .block1,
.portfolio .blocks .block2,
.portfolio .blocks .block3 {
    display: flex;
}

/* Видео */
.video {
    margin-top: 100px;
    height: 370px;
    margin-bottom: 200px;
}

.video .text {
    text-align: right;
    position: relative;
    right: -800px;
    margin-top: -375px;
}

.video h1 {
    text-align: left;
    font-size: 30px;
    width: 385px;
    margin-bottom: 20px;
}

.video p {
    width: 430px;
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
}

.video ul {
    font-size: 14px;
    text-align: left;
    list-style: none;
    margin-bottom: 20px;
}

.video ul li {
    margin-bottom: 20px;
}

/* Read More */
.read-more {
    margin-bottom: 150px;
}

.read-more .info {
    text-align: left;
}

.read-more .info h1 {
    font-size: 30px;
    width: 470px;
    margin-bottom: 30px;
}

.read-more .info p {
    font-size: 17px;
    width: 540px;
    margin-bottom: 30px;
}

.read-more .info button, 
.read-more2 .info button,
.read-more3 .info button {
    background: #FA8305;
    color: #fff;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}

.read-more img {
    position: relative;
    right: -800px;
    margin-top: -400px;
}

/* Read-more2 */
.read-more2{
    margin-bottom: 250px;
}

.read-more2 .info {
    position: relative;
    right: -600px;
    width: 50%;
    margin-top: -450px;
}

.read-more2 h1, 
.read-more2 p {
    padding: 10px;
}

.read-more2 button {
    margin-left: 10px;
}

/* Read-more3 */
.read-more3 {
    margin-bottom: 150px;
    
}

.read-more3 .info {
    text-align: left;
}

.read-more3 .info h1 {
    font-size: 30px;
    width: 470px;
    margin-bottom: 30px;
}

.read-more3 .info p {
    font-size: 17px;
    width: 540px;
    margin-bottom: 30px;
}

.read-more3 img {
    position: relative;
    right: -800px;
    margin-top: -400px;
}

/* Контакты */
.hero-contacts {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 33px;
}

.hero-contacts p {
    text-align: center;
}

.hero-contacts img {
    width: 70%;
    margin: 80px 15%;
}

.feedback {
    padding: 70px 0;
    background: #1C140F;
}

.feedback h2 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.feedback p {
    text-align: center;
    margin-top: 10px;
}

.feedback form {
    margin: 80px auto;
    width: 600px;
}

.feedback form .inline {
    display: flex;
    justify-content: space-between;
}

.feedback form .inliner > div {
    width: 50%;
}

.feedback form label {
    color: #4F4F4F;
    font-size: 14px;
}

.feedback form input,
.feedback form textarea {
    background: #2C2420;
    border-radius: 10px;
    border: 0.6px solid #CECECE;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 20px;
}

.feedback form .one-line {
    width: 97%;
}

.feedback form textarea {
    resize: none;
    height: 200px;
}

.feedback form button {
    background: #DC7000;
    border-radius: 5px;
    border: 0;
    float: right;
    cursor: pointer;
    color: #fff;
    padding: 15px 35px;
    transition: all 500ms ease;
}

.feedback form button:hover {
    background-color: #b01414;
}

.a {
    text-align: center;
    font-size: 16px;
}
